<div class="d-flex">
  <div>
    <h3>Squad</h3>
    <div class="squad" *ngFor="let player of currSquad">
      <div>{{ player.fname }} {{ player.lname }}</div>
      <div>{{ player.pos }}</div>
      <button (click)="removeFromSquad(player.id)">Remove</button>
    </div>
    <button (click)="createSquad()">Save Squad</button>
  </div>
  <div>
    <h3>Available players</h3>
    <div class="squad" *ngFor="let player of availablePlayers">
      <div>{{ player.fname }} {{ player.lname }}</div>
      <div>{{ player.pos }}</div>
      <button (click)="addToSquad(player.id)">Add</button>
    </div>
  </div>
</div>
