<div class>
  <div class="my-2">
    <input [(ngModel)]="name" placeholder="Squad name" />
  </div>
  <div class="d-flex">
    <div>
      <h3 class="m-1">Squad</h3>
      <div class="squad" *ngFor="let player of currSquad">
        <div>{{ player.fname }} {{ player.lname }}</div>
        <div>{{ player.pos }}</div>
        <button (click)="removeFromSquad(player.id)">Remove</button>
      </div>
    </div>
    <div>
      <h3 class="m-1">Available players</h3>
      <div class="squad" *ngFor="let player of availablePlayers">
        <div>{{ player.fname }} {{ player.lname }}</div>
        <div>{{ player.pos }}</div>
        <button (click)="addToSquad(player.id)">Add</button>
      </div>
    </div>
  </div>
  <button (click)="createSquad()">Save Squad</button>
</div>
